/* Обнуление */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

















/* body {
    font-family: Rubik;
    /* ставим семейство шрифта по умолчанию */
/* font-size: 12px;
    по умолчанию в браузере 16px
    /* color: #616161; */
/* } */
/* .wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column; */
/* все это нужно чтобы прибить впоследствии подвальчик внизу экрана */
/* min-height: 100%;
    /* чтобы оболочка занимала минимум всю ширину окна браузера */

/* .main {
    flex: 1 1 auto; */
/* позволить этому блоку расширяться и прижать футер к низу */

/* [class*="__container"] {
    /* эта запись означает что любой объект в классе которого есть ___container получит эти стили */
/* max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px; */
/* границы безопасности, когда мы адаптируем сайт, края не прижимаются а имеют 15 пикселей с обоих сторон  */


/* PC */
/* @media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
} */

/* TABLET */
/* @media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
} */

/* MOBILE */
/* @media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
} */

/* mobile small
@media (max-width: 479.98px) {}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50; */
/* зафиксировать шапку, main пробился наверх) */

/* .header__container {
    display: flex;
    /* выстраиваются в линию лого нав и доунлоад */
/* min-height: 114px;
    /* высота шапки */
/* align-items: center; */
/* чтобы все элементы выстроились по центру */


/* .header__logo {
    position: relative;
    z-index: 5; */

/* .header__menu {
    flex: 1 1 auto; */
/* доунлоад откатился вправо далеко */


/* 
.header__button {
    position: relative;
    z-index: 5;
    flex: 0 0 252px;
    /* ставим кнопке фиксированную ширину изза декора, 252 это от кнопки до края */
/* display: flex;
    justify-content: flex-end;
    /*размещаем кнопку справа*/
/* align-items: center;
} */
/* --------------------------------------------------------------------*/
/* .menu {
    display: flex;
    justify-content: flex-end; */
/* размещаем меню-лист справа */
/* padding: 0 40px 0 0; */

/* .menu__list {
    display: flex; */
/* пункты меню выравниваются в линию */
/* gap: 40px; */
/* расстояние между пунктами навигации  */

/* .menu__item {
    margin: 0 40px 0 0; */
/* отступ между ссылками навигации */

/* .menu__link {
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    /* чтобы лайн хайт был относительным, подстроился под другой шрифт */
/* color: black;
    letter-spacing: 1px;
}

.menu__link:hover {
    text-decoration: underline;
}


@media (max-width: 991.98px) {

    .header__container {
        min-height: 80px;
    }

    .header__button {
        flex: 0 0 170px;
        /* при адаптиве мы делаем пространство между кнопкой и красной фигней меньше */
/* } */
*/
/* .menu__item {
        margin: 0px 30px 0px 0px;
    }
} */
*/
/* @media (max-width: 767.98) {
    .menu__body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .header:target .menu__body {
        left: 0;
    }

    .header:target .menu__body:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: #fff;
    } */

/* .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__item {
        margin: 0px 0px 25px 0px;
    }

    .menu__link:last-child {
        margin-bottom: 0;
    }

    .menu__link {
        color: #fff;
        font-size: 20px;

    }
}


@media (max-width: 479.98px) {
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
}

@media (max-width: 767.98) {
    .menu__body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* ----------------------------------------------------  */

/* 
    .button {
        display: inline-block;
        это ссылка и является флекс элементом */
/* font-family: 'Raleway';
        text-transform: uppercase;
        font-style: normal;
        font-weight: 800;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1px;
        /* задаем стили кнопке */
/* color: #FCFDFE;
        padding: 14px 30px;
        border-radius: 5px;
        background-color: #ec5863;
        transition: background-color 0.3s ease 0s;
    } */
*/
/* .button:hover {
        background-color: #f37a82;
    } */

/* .button__blue:hover {
        background-color: #4285f4;
    } */


/* 
    .button__blue {
        background-color: blue;
    } */

/* -------------------------------------------------  */

/* .close__icon__menu,
    .icon__menu {
        display: none;


    } */
/* @media (max-width: 767.98px) {
        .icon__menu { */
/* position: relative;
            flex: 0 0 30px;
            height: 18px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 0 0 20px;
        } */
/* 
        .icon__menu::before,
        .icon__menu::after {
            content: "";
            background-color: black;
            height: 2px;

        }

        .icon__menu span {
            height: 2px;
            background-color: black;
        }

        .close__icon__menu {
            flex: 0 0 30px;
            height: 30px;
            position: relative;
            margin: 0px 0px 0px 20px;
        }

        .close__icon__menu::before,
        .close__icon__menu::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            background-color: black;
            height: 2px;
        }

        .close__icon__menu::before {
            transform: rotate(45deg);

        }

        .close__icon__menu::after {
            transform: rotate(-45deg);
        }

        .header:target .icon__menu {
            display: none;
        }

        .header:target .close__icon__menu {
            display: flex;
        }*/